@font-face {
    font-family: blackFont;
    src: url("Assets/css/Swiss%2520721/Swiss721BlackCon");
}

@font-face {
    font-family: boldFont;
    src: url("Assets/css/Swiss%2520721/Swiss721BoldCon");
}

/***************HTML ELEMENTS***************/

body {
font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;

}

p{
    line-height: 2em;
}

h1,h2,h3{
    line-height: 1.5em;
}

h3{
    font-family: boldFont, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;
}
span{
    font-family: boldFont, sans-serif;
    font-weight: 600;
    display: block;
}
/***************HOME***************/
#logoHome {
  width: 175px;
  height: auto;
  margin-bottom: 50px;
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.pattern {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -50;
}

#home {
  display: table;
  height: 100vh;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.homeNav ul{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.homeNav ul a {
    display: inline-block;
    font-family: blackFont , sans-serif;
    font-size: 25px;
    font-weight: 900;
    color: white;
    transition: 250ms;
}

.homeNav ul a:after {
  content: '';
  display: block;
  height: 4px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.homeNav ul a:hover:after {
  width: 100%;
  background: white;
}

.homeNav ul a:hover {
  text-decoration: none;
  opacity: 0.9;
  color: #7DC494;
}

.homeNav ul a li:nth-child(2) {
    margin-left: 50px;
    margin-right: 50px;
}

.homeText {
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
}


/***************NAVIGATION***************/

.navLogo{
    margin-top: -20px;
    height: 50px;
    width: auto;
}

.nav ul {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.nav ul a {
    text-decoration: none;
    display: inline;
    font-family: blackFont, sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: black;
}

.active {
    border-bottom: 5px solid #84CBA3 ;
}

/***************DOCU & STORIES***************/

/*****DOCU*****/

.navkol {
  z-index: 100000;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  padding-top: 40px;
  width: 100%;
  display: table;
}

.navkol ul li {
  margin-bottom: 20px;
}

#videoplayer {
  width: 80%;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 768px) {
    #videoplayer {
        width: 100%;
    }
}

#stories {
    margin-top: 8vh;
}

#docu {
  padding-top: 90px;
  display: table;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.docualign {
  display: table-cell;
  vertical-align: middle;
}

.docuFilm {
    margin: 8vh 0;
    width: 100%;
}


#docu h1, #over h1, #cast h1, #storytitle h1, #artist h1 {
     font-family: blackFont, sans-serif;
    font-size: 60px;
    font-weight: 900;
    color: black;
    text-transform: uppercase;

}
#over h1 {
    color: white;
}

#over {
    color: white;
    padding-top: 7vh;
    padding-bottom: 2vh;
    background-color: #547F8C;
}

#over h2 {
    font-family: boldFont, sans-serif;
    font-size: 30px;
    font-weight: 900;
}

.andreas {
  margin: 30px 0 40px 0;
}

.teamImg {
    width: 100%;
    height: auto;
    padding: 10%;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.imgOver {
    display: block;
    margin: auto;
    text-align: center;
    width: 75%;
    height: auto;
}

/* Parallax
  --------------------------------------------- */


.bgimg {
    background-image: url(../img/AAAMASTER.png);
    min-height: 400px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    display: table;
    height: 480px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 900;
    background-color: rgba(132, 203, 163, 0.3)
}

.caption p {
  display: table-cell;
  vertical-align: middle;
}


@media (max-width: 769px) {
  .caption {
    height: 240px;
  }
}

.overQuote{

font-family: boldFont, sans-serif !important;

}

.overQuoteCast{
    font-family: boldFont, sans-serif !important;
    padding-top: 1em;
}

@media screen and (max-width: 510px){
    .overQuote {
        font-size: 30px;
    }

}

@media screen and (max-width: 510px){
    .overQuoteCast {
        font-size: 30px;
    }
    .bgimg {
    background-image: url(../img/AAAMASTER.png);
    min-height: 200px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

}

#cast {
    background-color: #547F8C;
}
#castGrid {
    height: 150px;

}

#castGrid img {
    width:  100%;

}

.castTitle{
    margin-top: 7vh;
        margin-bottom: 7vh;

}

.castTitle h1{
    color: white !important;
}

.thumb {
    text-align: center;
    height: 250px;
    background-size: cover;
}

.chalice {
    background-image: url(../img/CAST/CHALICE%20SOUNDSYSTEM%202.png);
}

.channelOne{
    background-image: url(../img/CAST/CHANNEL%20ONE%20SOUNDSYSTEM.png);
    background-position: -90px;
}

.congo {
    background-image: url(../img/CAST/CONGO%20ASHANTI%20ROY.png);
    background-position: -55px;
}

.crucialA {
    background-image: url(../img/CAST/CRUCIAL%20ALPHONSO.png);
}

.crucialP {
    background-image: url(../img/CAST/CRUCIAL%20P.png);
}

.drDog {
    background-image: url(../img/CAST/DOCTOR%20DOG.png);
    background-position: -50px;
}

.donW {
    background-image: url(../img/CAST/DON%20WACKIE.png);
}

.fatman{
    background-image: url(../img/CAST/FATMAN%20.png);
}

.jahV {
    background-image: url(../img/CAST/JAH%20VOICE%20SOUNDSYSTEM.png);
}

.jahmB{
    background-image: url(../img/CAST/JAHMBASSADOR.png);
}

.KarelM {
    background-image: url(../img/CAST/KAREL%20MICHIELS.png);
    background-position: -80px;
}

.kiangana {
    background-image: url(../img/CAST/KIANGANA.png);
    background-position: -50px;
}

.kingF{
    background-image: url(../img/CAST/KING%20FLASHMAN.png);
}

.coxsone{
    background-image: url(../img/CAST/LLOYD%20COXSONE.png);
}

.benjie {
    background-image: url(../img/CAST/LYRICAL%20BENJIE.png);
}

.missingL {
    background-image: url(../img/CAST/MISSING%20LINK.png);
    background-position: -75px;
}

.nomadix {
    background-image: url(../img/CAST/NOMADIX.png);
    background-position: -25px;
}

.panache{
    background-image: url(../img/CAST/PANACHE%20CULTURE.png);
}

.profCat {
    background-image: url(../img/CAST/PROFESSOR%20CAT.png);
    background-position: -25px;
}

.puraman{
    background-image: url(../img/CAST/PURAMAN.png);
    background-position: -50px;
}

.radics{
    background-image: url(../img/CAST/RADICS.png);
    background-position: -25px;
}

.rasM {
    background-image: url(../img/CAST/RAS%20MUFFET.png);
}

.rigoV {
    background-image: url(../img/CAST/RIGO%20VERWIMP.png);
}

.russD{
    background-image: url(../img/CAST/RUSS%20D.png);
    background-position: -50px;
}


@media only screen and (max-width: 1500px) and (min-width: 1200px)  {

    .thumb {
        height: 180px;
    }
}

@media screen and (max-width: 475px){
    .thumb {
        height: 200px;
    }
}



/****QUERIES POSITIONING GRID****/

@media screen and (max-width: 1400px){
    .drDog {
        background-position: -75px;
    }

    .kiangana {
        background-position: -75px;
    }
    .KarelM {
        background-position: -125px;
    }

    .donW {
        background-position: -75px;
    }

    .fatman{
        background-position: -50px;
    }

    .missingL {
        background-position: -125px;
    }
    .panache{
        background-position: -50px;
    }
    .profCat {
        background-position: -75px;
    }
    .puraman{
        background-position: -150px;
    }
    .radics{
        background-position: -50px;
    }
    .rasM {
        background-position: -75px;
    }
    .russD{
        background-position: -150px;
    }
    .nomadix{
        background-position: -100px;
    }

    .congo{
        background-position: -50px;
    }

}


@media screen and (max-width: 1150px){
    .drDog {
        background-position: -75px;
    }

    .kiangana {
        background-position: -75px;
    }
    .KarelM {
        background-position: -125px;
    }

    .donW {
        background-position: -75px;
    }

    .fatman{
        background-position: -50px;
    }

    .missingL {
        background-position: -125px;
    }
    .panache{
        background-position: -50px;
    }
    .profCat {
        background-position: -75px;
    }
    .puraman{
        background-position: -150px;
    }
    .radics{
        background-position: -100px;
    }
    .rasM {
        background-position: -75px;
    }
    .russD{
        background-position: -150px;
    }
    .nomadix{
        background-position: -100px;
    }

    .congo{
        background-position: -50px;
    }

}


@media screen and (max-width: 1000px){
    .drDog {
        background-position: -150px;
    }

    .kiangana {
        background-position: -150px;
    }
    .KarelM {
        background-position: -175px;
    }
    .donW {
        background-position: -100px;
    }

    .fatman{
        background-position: -75px;
    }

    .missingL {
        background-position: -200px;
    }
    .panache{
        background-position: -100px;
    }
    .profCat {
        background-position: -150px;
    }
    .puraman{
        background-position: -150px;
    }
    .radics{
        background-position: -150px;
    }
    .rasM {
        background-position: -75px;
    }
    .russD{
        background-position: -200px;
    }
    .nomadix{
        background-position: -100px ;
    }

}


@media screen and (max-width: 475px){
    .drDog {
        background-position: -150px;
    }

    .kiangana {
        background-position: -100px;
    }/*
    .KarelM {
        background-position: ;
    }
    .donW {
        background-position: ;
    }

    .fatman{
        background-position: ;
    }
    */
    .missingL {
        background-position: -100px;
    }/*
    .panache{
        background-position: ;
    }
    .profCat {
        background-position: ;
    }
    .puraman{
        background-position: ;
    }
    .radics{
        background-position: ;
    }
    .rasM {
        background-position: ;
    }*/
    .russD{
        background-position: -100px;
    }/*
    .nomadix{
        background-position: ;
    }*/

}


#cast h2 {
    font-family: boldFont , sans-serif;
    font-size: 30px;
    font-weight: 900;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.thumb:nth-child(odd) .gridImages .overlay {
  background-color: #547F8C;
}

.thumb:nth-child(even) .gridImages .overlay {
  background-color: #90caa2;
}

.thumb:hover .overlay {
  opacity: 0.9;
  cursor: pointer
}

.hoverText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-weight: bold;
}

/*****STORIES*****/
#stories {
    color: black;
    margin-top: 8vh;
    background-color: #FFFFFF;
    margin-bottom: 5vh;

}

#storiesBody {
    color: black;
    background-color: #FFFFFF;
    padding: 0 !important;
}

.stories-filter {
  padding: 150px 30px 0px 30px;
}

#storytitle {
    color: black;
    margin-top: 5vh;
    background-color: #FFFFFF;
    margin-bottom: 0vh;
}


#auteur{
    width: 100px;
    height: 100px;
    margin-bottom: 3vh;
    float: left;
}

#auteurDiv{
    float: left;
}


@media screen and (max-width: 500px){
    #auteur{
        width: 50px;
        height: 50px;
        margin-bottom: 3vh;
        float: left;
    }
}

.clear{
    clear: both;
}

.blogPost{
    margin-bottom: 5vh;
}


.blogPostSumm, .blogPostText{
    line-height: 2em;
}

.blogpostimg{
    height: 200px;
    margin: 2vh 0 3vh 0;
    background-image: url("../img/Crucial_Alphonso.jpeg");
    background-position: center;
}

.blogPost h2{
    font-family: boldFont, sans-serif;
    font-size: 30px;
    font-weight: 900;
}


.readMore {
    font-style: italic;
    color: #84CBA3;
    transition: all 250ms;
}

.readMore:hover  {
  text-decoration: none;
  color: #84CBA3;
  opacity: 0.8;
}

/******OLDER POSTS******/

.arrowDiv h3{
    font-family: boldFont, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    color: #84CBA3;
}

.older {
  text-align: center;
  margin-bottom: 50px;
}

.older a:hover {
  text-decoration: none;
}

/*****BLOGPOST*****/
.blogpostv2 {
  margin-top: 100px;
}

.blogpostimgv2 {
  margin-bottom: 25px;
}

.date {
    line-height: auto;
    font-size: 1.2rem;
    font-style: italic;
    text-align: left;
}

.author{
    line-height: auto;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5vh;
}



#image{
    width: 100%;
    height: auto;

}

/***************ARTIST***************/

#artist {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#artist h2 {
    font-family: boldFont, sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin-top: 0;
}

.artistName{
    margin-bottom: 5vh;

}

#artist ul {
    width: 50%;
    display: inline;
    float: left;
}

.artistInfo {
    color: white;
}

.artistInfoTitle{
    font-family: boldFont, sans-serif;
    font-weight: 900;
    font-size: 15px;
    text-transform: uppercase;
    }

.artistInfoTitle , .artistInfoBody {
    margin-top: 5vh;
}

.artistInfoBody {
    font-size: 15px;
}

.artistInfo,.artistImage {
    padding: 20px;
    background-color: #547F8C;
}

#artistWebsite {
    color: white;

   text-align: center;
}

.artistAbout {
    box-sizing:border-box;
    padding-left: 40px;

}

.artistSocial {
    margin-top: 5vh;
}



/***************FOOTER***************/

#footer {
    background-color: #1d1d1b;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.footer img{
    max-height: 50px;
    width: auto;
}


/* google maps */

#pls_change_name {
  margin: 40px 0 20px 0;
}

#map {
  height: 100vh;
  width: 100%;
}

.navmap, .navmapres {
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
}

.navmapres {
  height: 93px !important;
}

#menu-nav {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999;
  transition: all 1s;
  padding: 10px 30px;
  background-color: white;
  font-weight: bold;
}

.checkboxx {
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute !important;
  z-index: 100;
  visibility: visible;
  width: 0 !important;
  overflow: hidden;
}

#checkbox {
  padding-top: 100px !important;
}

.checkbox2 {
  padding: 15px !important;
  width: 300px !important;
}

input {
  position: relative !important;
  right:0;
  float: right;
}

ul {
  margin: 0 !important
}

ul li {
  margin-bottom: 10px;
}


/* MODAL VOOR MAP */

.modalmap {
  position: fixed !important;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 200000;
  opacity: 0;
  visibility: hidden;
  transition: 350ms;
}

.modaldocu {
  /*background: linear-gradient(to bottom right, black, #84CBA3); */
  background-color: rgba(0, 0, 0, 1);
}

.docu-foto {
   object-fit: cover;
   width: 100%;
   height: 100%;
}

.modalmap_inner {
  z-index: 500;
  width: 600px;
  height: 500px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #E9E6E6;
  border-radius: 6px;
  padding: 30px;
  overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.modalmap_inner_topcontent {
    overflow: auto;
}

.content_left, .content_right {
  padding: 0px !important;
}

.content_left {
  background-position: center;
  background-size: cover;
  height: 190px !important;

}

.content_right {
  padding-left: 20px !important;
}

.content_right a {
    color: #7DC494;
    transition: 200ms;
}

.content_right a:hover {
  text-decoration: none;
  color: #609972;
}

.bottomcontent {
  padding: 0 !important
}

.infocontent {
  height: 100%;
}

#name {
  font-size: 1.5em;
  hyphens: none;
  font-weight: bold;
  margin-bottom: 0 !important
}

#filter {
  opacity: 0.8;
}

#about {
  font-size: 1.6em;
  font-weight: bold;
  margin-top: 15px;
}

#icons{
  height: 20px;
  margin: 5px;
}

#filterbutton {
  display: none;
}

/* Media Queries Mobiel */

@media (max-width: 768px) {

  /* MAP */
  .checkboxx {
    bottom: 40px;
    height: 0;
    width: 100% !important;
    padding: 0px 30px 15px 30px !important;
    visibility: hidden;
  }

  #checkbox {
    padding-top: 30px !important;
  }

  #filterbutton {
    width: 100%;
    display: block;
    background-color: white;
    border: 1px solid white;
    padding: 15px 0;
    font-size: 1.3em;
    position: fixed;
    bottom: 0;
  }

  .modalmap {
    padding: 10px !important;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .modalmap_inner {
    width: 90%;
  }

  .content_right {
    padding-left: 0 !important;
    text-align: left;
    width: 100%;
    margin-bottom: 20px
  }
}

@media (max-width: 450px) {
  .modalmap_inner {
    height: 90vh;
  }

  .content_left {
    height: auto;
  }

  .content_right {
    padding-left: 0 !important;
    text-align: left;
    width: 100%;
    margin-bottom: 20px
  }
}

.nav-responsive {
  display: none;
  padding: 0px 30px;
  position: fixed;
  top: 0;
  height: auto;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: white;
}

.glyphicon {
  font-size: 1.5em;
  transition: all 1s;
}

#dropdown_nav {
  float: right;
  margin-top: 27.5px;
  border: 0;
  background-color: white;
}

.dropdown {
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 10000;
  height: 0px;
  transition: all 1s;
  overflow: hidden;
}

.dropdown ul {
  padding: 20px 0;
  text-align: center;
  background-color: #84CBA3;
}

.dropdown ul a li {
  margin-bottom: 0px;
  padding: 30px 0px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

.specialone {
  padding: 0px !important;
}

@media (max-width: 768px) {
  .navkol {
    display: none;
  }

  .nav-responsive {
    display: block;
  }

  .nav-responsive img {
    margin: 15px 0;
  }

  .docuFilm {
    margin-top: -3vh !important;
  }

  .pad {
    padding-left: 35px !important;
    padding-right: 35px !important;
  }

  .align-right {
    text-align: left;
  }

  .andreas div {
    padding: 0px !important
  }

  .teamImg {
    padding: 10% 0;
  }
}

@media (max-width: 450px) {
  #logoHome {
    width: 100px;
  }

  .homeNav li {
    font-size: 0.9em;
  }

  .homeText {
    padding: 0 30px !important
  }

  .homeText p {
    font-size: 0.9em;
  }

  .stories-filter {
    padding-top: 100px !important;
  }

  #auteurDiv {
    display: none;
  }

  #menu-nav {
    right: 10px;
    top: 10px;
  }
}
